<div class="modal fade" id="resetPasswordModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" [formGroup]="resetForm" (ngSubmit)="submitForm()">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordModalLabel">Reset Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-content">
                    <div class="modal-body">
                        <div>
                            <p>A password reset link will be sent to your registered email.</p>
                        </div>
                        <div>
                            <label class="form-label" for="username">Username </label>
                            <input class="form-control" type="text" name="username" formControlName="username" oninput="this.value = this.value.toLowerCase()">
                        </div>
                        <div *ngIf="isFormSubmitted">
                            <p>Processing...</p>
                        </div>
                        <div *ngIf="message && isFormSubmitted == false">
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                        <button type="submit" class="btn btn-primary" [disabled]="resetForm.invalid">Reset</button>
                    </div>       
                </div>
            </form>
        </div>
    </div>
</div>

