.accuse-form-container {
    background-color: #363636;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.accuse-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #bababa;
    padding-bottom: 10px;
}

.accuse-form .form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 8px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    
}

.option {
    width:fit-content;
    
}

.btn-outline-secondary {
    background: #969696;
    text-align: left;
    padding: 10px;
}


.motive-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #202621;
    font-size: 1rem;
}

img {
    width: 6%;
    border-radius: 50%;
}

textarea.form-control {
    background: #fefefe;
    border: none;
}

.accuse-button {
    margin-top: 10px;
    text-align: right;
    width: auto;
}

.accuse-status {
    text-align: center;
}


