<div class="reset-container">
    <h2>Reset Password</h2>
    <form method="POST" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div>
            <label class="form-label" for="password">New Password</label>
            <input class="form-control" id="password" formControlName="password" type="password" required>
            <div *ngIf="resetPasswordForm.get('password')?.hasError('maxlength')">
                <p>Maximum of 20 characters</p>
            </div>
        </div>
        <div>
            <label class="form-label" for="confirmPassword">Confirm Password</label>
            <input class="form-control" id="confirmPassword" formControlName="confirmPassword" type="password" required>
        </div>
        <div class="error-message" *ngIf="message">
            {{ message }}
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </form>
</div>