<div class="modal fade" id="instructions" tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="modal-title">Hello Detective!</h4>
                <p>The game utilizes OpenAI's GPT-3.5 Turbo for mystery generation and game play.<br> To play a mystery, an OpenAI Api Key is required.</p>
                <p>You can generate interactive mysteries based on your specified theme.</p>
                <p>By exploring the crime scene and interrogating suspects, you have to deduce:</p>
                <ol>
                    <li>Who did it?</li>
                    <li>What weapon was used to carry out the crime?</li>
                    <li>What is the character's motive for committing the crime?</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
