.home-container {
    padding: 0.5rem;
    width: 100vw;
    margin: 0.2% 5%;
}

.mystery-list .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}


.mystery-list .mystery-card {
    background-image: url("/images/vintage-white.avif");
    background-size: cover;
    background-color: #dddad6;
    background-blend-mode: multiply; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 100%;
    
}

.mystery-card:hover {
    transform: translateY(-5px);
}

.mystery-card::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    pointer-events: none;
}


.mystery-image {
    width: 90%;
    height: auto;
    align-self: center;
}

.card-title {
    color: #5C464B; 
    font-size: 1.2rem;
    margin-bottom: 10px;
}



.card-btn {
    padding: 0.65rem 0.8rem;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.btn-secondary {
    background-color: #ffffff;
}

.btn-secondary:hover {
    background-color: dimgrey;
}

